@import url("colors.css");

* {
    margin: 0;
    padding: 0;
}

/* Content */
/* Auto layout */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 48px;

    position: relative;
    width: 392px;
    height: 354px;

    /* Primary/50 Primary/50*/
    background: bg-primary-50;
    border-radius: 48px;
}



/* Vector-checkBoxBorder */
.checkbox-border {
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    /* Primary/50 */
    background: bg-primary-50;
    /* Secondary/400 */
    border: 1px solid color-secondary-400;
    border-radius: 4px;
}

/* basic / check */
.checkbox-basic-check-checked {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;

    /* Pallete Base/Primary Primary/500 */
    background: bg-primary;
    border-radius: 4px;
}

/* basic / check */
.checkbox-basic-check-disabled {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    /* Secondary/300 Secondary/300 */
    background: bg-secondary-300;
    border-radius: 4px;
}